<div>
    <h2 id="page-heading">
        <span>Uploadfiles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-uploadfile" [routerLink]="['/uploadfile/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Uploadfile
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="uploadfiles?.length === 0">
        <span>No uploadfiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="uploadfiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="myfile"><span>Myfile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let uploadfile of uploadfiles ;trackBy: trackId">
                    <td><a [routerLink]="['/uploadfile', uploadfile.id, 'view']">{{ uploadfile.id }}</a></td>
                    <td>
                        <a *ngIf="uploadfile.myfile" (click)="openFile(uploadfile.myfileContentType, uploadfile.myfile)">
                            <img [src]="'data:' + uploadfile.myfileContentType + ';base64,' + uploadfile.myfile" style="max-height: 30px;" alt="uploadfile image"/>
                        </a>
                        <span *ngIf="uploadfile.myfile">{{ uploadfile.myfileContentType }}, {{ byteSize(uploadfile.myfile) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/uploadfile', uploadfile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/uploadfile', uploadfile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(uploadfile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="uploadfiles?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
