<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uploadfile">
            <h2><span>Uploadfile</span> {{ uploadfile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Myfile</span></dt>
                <dd>
                    <div *ngIf="uploadfile.myfile">
                        <a (click)="openFile(uploadfile?.myfileContentType!, uploadfile?.myfile)">
                            <img [src]="'data:' + uploadfile.myfileContentType + ';base64,' + uploadfile.myfile" style="max-width: 100%;" alt="uploadfile image"/>
                        </a>
                        {{ uploadfile.myfileContentType }}, {{ byteSize(uploadfile.myfile) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uploadfile', uploadfile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
