<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <footer class="bg-primary text-center text-lg-start text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row my-4">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                    <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                        <img src="../../../content/images/EPITA.png" height="70" alt="epita"
                             loading="lazy" />
                    </div>

                    <p class="text-center">This platform is sponsored by EPITA SCHOOL OF ENGINEERING & COMPUTER SCIENCE</p>

                    <!--<ul class="list-unstyled d-flex flex-row justify-content-center">
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white ps-2" href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Languages</h5>

                    <ul class="list-unstyled">
                        <li class="mb-2">
                            Java
                        </li>
                        <li class="mb-2">
                            C#
                        </li>
                        <li class="mb-2">
                            Swift
                        </li>
                        <li class="mb-2">
                            Much more...
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Frameworks</h5>

                    <ul class="list-unstyled">
                        <li class="mb-2">
                            Spring-Boot
                        </li>
                        <li class="mb-2">
                            Django
                        </li>
                        <li class="mb-2">
                            TensoreFlow
                        </li>
                        <li class="mb-2">
                            Much more...
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Contacts</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p><i class="fas fa-map-marker-alt pe-2"></i>EPITA, EPITA - Bâtiment Voltaire, 16 Rue Voltaire, 94276 Le Kremlin-Bicêtre</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone pe-2"></i>+ 01 44 08 00 90 </p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope pe-2 mb-0"></i>contact@epita.fr</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <a class="text-white" href="">TechGeek.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->
