<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="volunteer">
            <h2><span>Volunteer</span> {{ volunteer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Firstname</span></dt>
                <dd>
                    <span>{{ volunteer.firstname }}</span>
                </dd>
                <dt><span>Lastname</span></dt>
                <dd>
                    <span>{{ volunteer.lastname }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ volunteer.address }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ volunteer.email }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ volunteer.phone }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/volunteer', volunteer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
